body {
  background-color: lightblue;
}

.navbar {
  background-color: darkblue;
  color: white;
  list-style-type: none;
}

section {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 600px;
}
